@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');

body, html, #root {
  background-color: hsl(0, 0%, 5%);
}

.WhiteLink {
  color: hsl(0, 0%, 95%);
}

.WhiteLinkHidden {
  color: hsl(0, 0%, 95%);
  text-decoration: none;
}

.WhiteLinkHidden:hover {
  text-decoration: underline;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: calc(100vh - 4em);
  top: 4em;
  color: hsl(0, 0%, 95%);
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-color: hsl(0, 0%, 5%);
}

#NavBar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  padding-left: 1em;
  padding-top: 1em;
  padding-right: 0.4em;
  padding-bottom: 4em;
  width: 100vw;
  height: 7em;
  align-items: center;
  justify-content: space-between;
  background: transparent;
}

#NavBarBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 7em;
  background: linear-gradient(to bottom, rgba(13, 13, 13, 1) 0%, rgba(13, 13, 13, 0) 100%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#NavBarBackdrop.scrolled {
  opacity: 1;
}

#NavBar * {
  color: hsl(0, 0%, 95%);
  text-decoration: none;
  opacity: 1;
  margin-top: 0;
}

#Logout {
  display: none;
  background-color: rgba(50, 50, 50, 0);
  backdrop-filter: blur(0px) saturate(100%);
  border: none;
  border-top: 0.7px solid rgba(100, 100, 100, 0);
  border-bottom: 0.7px solid rgba(80, 80, 80, 0);
  box-shadow: 0 0px 32px rgba(100, 100, 100, 0),
  inset 0 4px 20px rgba(100, 100, 100, 0);
  outline: none;
  border-radius: 100000px;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 1em;
  padding: 0.6em 0.9em;
  transition: background-color 0.2s ease-in-out, border-top-color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

#Logout:hover {
  background: rgba(50, 50, 50, 0.3);
  backdrop-filter: blur(5px) saturate(180%);
  border: none;
  border-top: 0.7px solid rgba(100, 100, 100, 0.8);
  border-bottom: 0.7px solid rgba(80, 80, 80, 0.8);
  box-shadow: 0 0px 32px rgba(100, 100, 100, 0.2),
  inset 0 4px 20px rgba(100, 100, 100, 0.3);
}

.LandingBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(5px) brightness(80%);
}

#MouseGlow {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 40em;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.Landing {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  z-index: 3;
}

.Lockup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3em;
}

.Lockup * {
  margin: 0;
}

.Lockup img {
  width: 4em;
}

.LandingButton {
  color: hsl(0, 0%, 95%);
  text-decoration: none;
  background: rgba(50, 50, 50, 0.5);
  backdrop-filter: blur(5px) saturate(180%);
  border-top: 1px solid rgba(100, 100, 100, 0.8);
  border-bottom: 1px solid rgba(80, 80, 80, 0.8);
  box-shadow: 0 0px 32px rgba(100, 100, 100, 0.2),
  inset 0 4px 20px rgba(100, 100, 100, 0.4);
  outline: none;
  border-radius: 100000px;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 1.2em;
  padding: 0.6em 0.9em;
  margin: 0.5em;
  transition: box-shadow 0.2s ease-in-out, background 0.2s ease-in-out, padding 0.2s ease-in-out, margin 0.2s ease-in-out;
}

.LandingButton:hover {
  box-shadow: 0 0px 32px rgba(100, 100, 100, 0.2),
  inset 0 4px 20px rgba(150, 150, 150, 0.4);
  background: rgba(70, 70, 70, 0.5);
  padding: 0.7em 1em;
  margin: 0.4em;
}

.HelpText {
  z-index: 4;
  position: fixed;
  bottom: 0;
  left: 50vw;
  transform: translate(-50%, 0);
}

.Support {
  padding: 3em 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: center;
  gap: 1em;
}

.Support * {
  text-align: left;
  margin: 0;
}

.AuthWindow {
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 22em;
  max-width: calc(100vw - 4em);
}

.AuthWindow * {
  margin: 0;
}

.AuthFieldsGroup {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.AuthFields {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 0.8em 1.3em;
  text-align: left;
  background-color: hsl(0, 0%, 10%);
  border-radius: 30px;
  border: none;
  border-top: 0.7px solid rgba(80, 80, 80, 0.8);
  border-bottom: 0.7px solid rgba(80, 80, 80, 0.8);
}

.AuthFields div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  flex-grow: 1;
  flex-shrink: 1;
}

.AuthFields label {
  text-wrap: nowrap;
}

.AuthFields input {
  background-color: transparent;
  border: none;
  outline: none;
  color: hsl(0, 0%, 95%);
  padding-left: 1em;
  flex-grow: 1;
  flex-shrink: 1;
}

.AuthFields hr {
  margin: 0.2em 0;
  width: 100%;
  color: hsl(0, 0%, 80%);
  background-color: hsl(0, 0%, 80%);
  height: 1px;
}

.AuthWindow button {
  background-color: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 50%);
  border-radius: 30px;
  border: none;
  border-top: 0.7px solid rgba(150, 150, 150, 0.8);
  border-bottom: 0.7px solid rgba(150, 150, 150, 0.8);
  padding: 0.4em;
  font-weight: 600;
  font-size: 1.1em;
  margin: 0.05em 0.2em;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-top-color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out, padding 0.2s ease-in-out, margin 0.2s ease-in-out;
}

.AuthWindow button.ready {
  background-color: hsl(0, 0%, 90%);
  color: hsl(0, 0%, 5%);
  border-top: 1px solid rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.AuthWindow button.ready:hover {
  padding: 0.45em;
  margin: 0 0.1em;
}


.LoadingBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  backdrop-filter: blur(5px);
  display: none;
  justify-content: center;
  align-items: center;
}

.LoadingBackgroundShow {
  display: flex;
}

.Home {
  margin-top: 4em;
  margin-bottom: 6em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.HomeHeading {
  margin: 0;
  color: hsl(0, 0%, 100%);
}

.HomeSubheading {
  color: hsl(0, 0%, 80%);
  font-weight: 350;
}

#Feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  gap: 1em;
}

.Post {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 93vw;
  max-width: 60em;
  border-radius: 30px;
  background-color: hsl(0, 0%, 10%);
  padding: 1em 1.3em;
  gap: 0.5em;
  overflow: hidden;
  border: none;
  border-top: 0.7px solid rgba(80, 80, 80, 0.8);
  border-bottom: 0.7px solid rgba(80, 80, 80, 0.8);
}

.Post * {
  margin: 0;
}

.Post div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow-wrap: anywhere;
  gap: 1em;
}

.Post h10 {
  color: hsl(0, 0%, 80%);
}

.Post hr {
  margin: 0.2em 0;
  width: 100%;
  color: hsl(0, 0%, 80%);
  background-color: hsl(0, 0%, 80%);
  height: 1px;
}

.Post p {
  text-wrap: wrap;
}

.Send {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  bottom: 1.5em;
  width: calc(93vw - 1em);
  max-width: 59em;
}

#NewPost {
  background: rgba(50, 50, 50, 0.3);
  backdrop-filter: blur(5px) saturate(180%);
  border: none;
  border-top: 0.7px solid rgba(100, 100, 100, 0.8);
  border-bottom: 0.7px solid rgba(80, 80, 80, 0.8);
  box-shadow: 0 0px 32px rgba(100, 100, 100, 0.2),
  inset 0 4px 20px rgba(100, 100, 100, 0.3);
  outline: none;
  border-radius: 100000px;
  height: 3.2em;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-right: 1em;
  transition: box-shadow 0.2s ease-in-out, background 0.2s ease-in-out;
}

#NewPost:hover {
  box-shadow: 0 0px 32px rgba(100, 100, 100, 0.2),
  inset 0 4px 20px rgba(150, 150, 150, 0.3);
  background: rgba(70, 70, 70, 0.3);
}

.Send input {
  background: transparent;
  border: none;
  outline: none;
  height: 80%;
  flex-grow: 1;
  flex-shrink: 1;
  color: hsl(0, 0%, 95%);
  min-width: 0;
  max-width: 100%;
  font-size: 1.1em;
  padding: 0;
  margin: 0;
}

.Send input::placeholder {
  color: hsl(0, 0%, 50%);
}

#NewPost::after {
  background: rgba(50, 50, 50, 0.3);
  border-radius: 2rem;
  backdrop-filter: blur(10px);
  box-shadow: inset -10px -8px 0px -11px rgba(255, 255, 255, 1),
  inset 0px -9px 0px -8px rgba(150, 150, 150, 1);
  opacity: 0.6;
  z-index: -1;
  filter: blur(1px) drop-shadow(10px 4px 6px black) brightness(115%);
}

#NewPostIcon {
  height: 1.2em;
  flex-shrink: 0;
  padding-left: 1em;
  padding-right: 0.6em;
}

.Send button {
  width: 0;
  opacity: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 0.3s cubic-bezier(0.5, 1, 0.3, 0.8), opacity 0.1s ease-out, margin-left 0.3s ease-out, box-shadow 0.2s ease-in-out, background 0.2s ease-in-out;
  border-radius: 100000px;
  height: 3.2em;
  outline: none;
  background: rgba(50, 50, 50, 0.3);
  backdrop-filter: blur(5px) saturate(180%);
  border: none;
  border-top: 0.7px solid rgba(100, 100, 100, 0.8);
  border-bottom: 0.7px solid rgba(80, 80, 80, 0.8);
  box-shadow: 0 0px 32px rgba(100, 100, 100, 0.2),
  inset 0 4px 20px rgba(100, 100, 100, 0.3);
  padding-left: 0; padding-right: 0;
  border-left-width: 0; border-right-width: 0;
  white-space: nowrap;
  margin-left: 0;
  flex-shrink: 0;
}

.Send button.active {
  width: 3.2em;
  opacity: 1;
  margin-left: 0.7em;
}

.Send button:hover {
  box-shadow: 0 0px 32px rgba(100, 100, 100, 0.2),
  inset 0 4px 20px rgba(150, 150, 150, 0.3);
  background: rgba(70, 70, 70, 0.3);

}

.Send button::after {
  background: rgba(50, 50, 50, 0.3);
  border-radius: 2rem;
  backdrop-filter: blur(10px);
  box-shadow: inset -10px -8px 0px -11px rgba(255, 255, 255, 1),
  inset 0px -9px 0px -8px rgba(150, 150, 150, 1);
  opacity: 0.6;
  z-index: -1;
  filter: blur(1px) drop-shadow(10px 4px 6px black) brightness(115%);
}



#SendButtonImage {
  rotate: -45deg;
  width: 1.4em;
  margin-top: 0.3em;
  flex-shrink: 0;
  opacity: 0;
  transition: opacity 0.3s ;
}

#SendButtonImage.active {
  opacity: 1;
}